.Navbar {
  display: flex;
  gap: 20px;
  padding: 15px 10px;
  background: rebeccapurple;
  border-bottom: 2px solid #ddd;
}
.Navbar a {
    text-decoration: none;
    font-size: 18px;
    color: #060000;
    padding: 6px 10px;
    border-radius: 5px;
    transition: 0.3s;
}

.Navbar a:hover{
    background: #ffffff;
    color: #000000;
}
